<section class="suggestion">
    <h3>You should eat at...</h3>

    <div class="suggestion-body">
        <span class="suggestion-name">@Model.Name</span>, in or around <span class="suggestion-area">@Model.Area</span>
        <br/>
        You can eat <span class="suggestion-speed">@Model.Speed</span> for a <span class="suggestion-price">@Model.Price price</span>.
    </div>
</section>

