<h3>You should eat at...</h3>
<h2>@Model.Name</h2>, in <strong>@Model.Area</strong>

You can eat @Model.Speed for a @Model.Price price.

<div class="align-right">
    <a id="btnhiveMeAnother" role="button" class="btn btn-default" asp-area="" asp-controller="LunchRecommendation" asp-action="Suggest">
        This sucks, give me something else!
    </a>
</div>