@model LunchRecommender.Models.LunchPlace
@{
    ViewData["Title"] = "I'm hungry!!!";
}

<h1>Where should I go for lunch?</h1>

@if(@Model != null)
{
    Html.RenderPartial("_Suggestion.cshtml");
}

<a id="btnGiveMeSomething" role="button" class="btn btn-info btn-main" asp-area="" asp-controller="LunchRecommendation" asp-action="Suggest">
@if(@Model == null)
{
    <span>Just give me something!</span>
}
else
{
    <span>Give me something else!</span>
}
</a>
